__pycache__/
.env
.venv/
venv/
*.log
.DS_Store
cowrie/var/
cowrie/etc/
conpot/logs/
es_data/
*.rar
*.zip

# Exclude local threat data and logs
threat_feed.csv
threat_feed.json
malware_report.csv
detection/threat_feed.json
data_processing/extracted_logs.csv

# Keep the Core AI model and Automation
!ai_engine/model.pkl
!github_uploader.py
